* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #b89508;
    --sm: 14px;
    --md: 16px;
    --lg: 20px;

}

body{
    font-family: 'Quicksand', sans-serif;
}
header{
display: flex;
flex-direction: column;
} 

header{
    display: flex;
    flex-direction: column;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 26px;
    border-bottom: solid 1px var(--very-light-pink);
}

.logo-nav{
    margin-top: 5px;    
    width: 55px;
}


.nav-left ul , .nav-right ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    margin: 0;
}

ul li {
    list-style: none;
    margin: 0 30px;
}

a{
    text-decoration: none;
    color: var(--very-light-pink);
    font-weight: bold;
}

a:hover{
    color: var(--hospital-green);
    border: solid 1px var(--very-light-pink);
    border-radius: 6px;
    padding: 4px;
}

.a-logo:hover{
    border: solid 0px white;
}

.menu-burger{
    display: none;
    width: 30px;
}

.nav-right ul li:nth-child(1){
    color: var(--very-light-pink);
    font-size: var(--sm);
}

.nav-right ul li div{
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-cart{
    position: relative;
}




footer{
    width: 100%;
    height: 50px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    



}

/* bootstrap */

.container1{
    height: 400px;
    background-color: #bcacac;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-evenly;
}

form{
    padding: 25px;
}
    
label{
    color: white;
}    

button {
    color: rgb(255, 255, 255);
    background-color: gray;
    border: black;
}
    


.grid__container{
    background-color: black;
}

/* bikinis*/

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 20px;
    place-content: center;

}

.product-card{
    width: 240px;
    margin: 12px;

}

.product-card img{
    width: 240px;
    object-fit: contain;
}

.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 4px;

}

.product-info figure{
    margin: 0;
    
}

.product-info figure img{
    width: 35px;
    height: 35px;
    
}

.product-info div p:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 4px;
}

.product-info div p:nth-child(2){
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0px;
    color: var(--very-light-pink)
}


@media (max-width: 640px){
    .cards-container{
        grid-template-columns: repeat(auto-fill, 140px);
    }
    
    .product-card{
        width: 140px;
    }
    
    .product-card img{
        width: 140px;
        object-fit: contain;
        
    }
}


@media (max-width: 640px) {
    .menu-burger{
        display: block;
    }

    .nav-left ul li{
        display: none;
    }

    .nav-right ul li:nth-child(1){
        display: none;
    }

    .footer-container{
    display: grid;
    place-items: center;
    justify-content: center;
    }



}


.faqs-contain{
    margin: 25px;
}